name: CI

on:
    workflow_dispatch:
    push:
        branches: [main]

env:
    PORT: ${{secrets.PORT}}
jobs:
    test_project:
        environment: testing_stage
        env:
            shole: ${{secrets.SHOLE}}
            PassWord: ${{secrets.PASSWORD}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: using test1 action
              uses: ./.github/actions/test1
              with:
                PORT_NUMBER: 4000
            - name: Set up Python 3.9
              uses: actions/setup-python@v3
              with:
                  python-version: 3.9
            - uses: actions/cache@v4
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Test with pytest
              continue-on-error: true
              run: |
                  pytest -v
            - name: unbreakable step
              run: |
                  echo "This step will always run even if previous steps fail."
            - name: Upload Report Txt
              uses: actions/upload-artifact@v5
              with:
                  name: Report_Of_Test_${{ matrix.python-version }}_${{ matrix.operating-system }}
                  path: report.txt
                  # overwrite: true
            - name: print env
              run: |
                  echo "PORT: ${{env.PORT}}"
                  echo "PassWord: ${{ env.PassWord }}"
                  echo "shole: ${{env.shole}}"

    after_test_failure:
        needs: test_project
        if: failure()
        runs-on: ubuntu-latest
        steps:
            - name: print failure message
              run: |
                  echo "Test failed!"

    run_project:
        needs: test_project
        runs-on: ubuntu-latest
        environment: deployment_stage
        env:
            shole: ${{secrets.SHOLE}}
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python 3.9
              uses: actions/setup-python@v3
              with:
                  python-version: 3.9
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt
            - name: Run the project
              run: |
                  echo "Running the project..."
            - name: print env
              run: |
                  echo "PORT: ${{env.PORT}}"
                  echo "shole: ${{env.shole}}"

    show_report:
        needs: test_project
        runs-on: ubuntu-latest
        steps:
            - name: Download Report Txt
              uses: actions/download-artifact@v5
              with:
                  name: Report_Of_Test_${{ matrix.python-version }}_${{ matrix.operating-system }}
